body {
	margin: 0;
}

h3 {
	font-family: arial;
}

#float-text {
	font-size: 11px;
    color: gray;
}

#posted-by {
	font-family: times;
}

#searchbox {
	color: gray;
	font-family: arial;
}

#updates {
	color: gray;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.button-content {
	margin: 5px;
}

.button-ception {
	display: inline-block;
}

.button-ception-font {
	color: white;
	background-color: teal;
	text-decoration: none;
	margin-left: 20px;
	border: 4px solid teal;
	border-radius: 4px;
	padding: 1px;

}
.circle-button {
	border-radius: 150px;
    border: 8px solid white;
    margin-left: 8%;
    margin-top: -5%;
}

.everything {
	position: relative;
}

.first-column {
	display: inline-block;
    vertical-align: top;
    width: 275px;
}

.first-line {
	font-family: arial;
	width: 600px;
	margin-top: 17px;
}

.float-content-box1 {
	border: 2px solid gray;
}

.float-content-box2 {
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	border-left: 2px solid gray;
}

.float-content2 {
	display: inline-block;
}

.float-image {
	margin-left: 5px;
    margin-right: 5px;
}

.floating-button {
	position: fixed;
    bottom: 2%;
    right: 2%;
    font-family: arial;
}

.header-image {
	width: 92%;
    margin: 0px auto;
}

.ironyard {
	text-decoration: none;
}

.main-body {
	width: 67%;
    margin: 0px auto;
}

.main-container {
	display: inline-block;
    width: 500px;
    padding-left: 15px;
}

.main-paragraph {
	width: 450px;
	font-family: times;
}

.posted-by {
	font-size: .75
}

#updates {
	color: gray;
}